<a href="#/dashboard" class="logo">
PoC to IBCS Primax
</a>

<nav class="navbar navbar-static-top" role="navigation" data-ng-controller="appHeaderController">
    <a  class="navbar-btn sidebar-toggle link-pointer" data-toggle="offcanvas" role="button" data-ng-click="menuToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

    <div class="navbar-right pull-right">
        <ul class="nav navbar-nav">
                <li class="dropdown user user-menu"  data-ng-click="logout()" >
                <a href="#" class="dropdown-toggle" >
                    Sign Out &nbsp; <i class="glyphicon glyphicon-off"></i>
				</a>
            </li>
        </ul>
    </div>
</nav>
